body {
  /* background-color: #639696; */
  background: url('../images/boat.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Finger Paint', sans-serif;
  font-size: 20px;
}

#main_title {
  text-align: center
}

h1 {
  flex: 1 100%;
  text-align: center;
  margin: 0 0 30px;
  color: #1e4e82;
}

.cen {
  display: flex;
  flex-flow: row wrap;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #9fdac387;
  padding: 20px 100px;
  line-height: 200%;
}

.text-input {
  font-family: 'Finger Paint', sans-serif;
  width: 200px;
  padding: 10px 20px;
  font-size: 13px;
  border: 2px solid rgb(17, 67, 103);
  border-radius: 4px;
}

.search-button {
  font-family: 'Finger Paint', sans-serif;
  background: #6b4a18;
  padding: 10px 20px 10px 20px;
  border: 5px solid;
  border-radius: 5px;
  margin: auto;
  outline: none;
  border: none;
  font-size: 14px;
  color: #e2ce20;
  margin-bottom: 50px;
}

.search-button:hover {
  background: #72a8a8;
  text-decoration: none;
}
