body {
  font-family: 'Finger Paint', sans-serif;
  font-size: 25px;
  background: url('../images/boat.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 100%;
  flex: 1 100%;
  text-align: center;
  margin: 0 0 10px;
  color: #674607;
}

#weather-widget {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #9fdac387;
  padding: 20px 10px;
  line-height: 20%;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 auto;
  text-align: center;
  margin: auto 16px;
}

#back {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  
}

a, u {
  text-decoration: none;
  color: #0fc5b6;  
}

img {
  vertical-align: middle;
}
